---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=Green
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 2723,
          "items": [
            {
              "kind": "books#volume",
              "id": "SKWqDwAAQBAJ",
              "etag": "NMvFBvAxNNU",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/SKWqDwAAQBAJ",
              "volumeInfo": {
                "title": "The Negro Motorist Green Book",
                "subtitle": "1940 Edition",
                "authors": [
                  "Victor H. Green"
                ],
                "publisher": "Colchis Books",
                "description": "The idea of \"The Green Book\" is to give the Motorist and Tourist a Guide not only of the Hotels and Tourist Homes in all of the large cities, but other classifications that will be found useful wherever he may be. Also facts and information that the Negro Motorist can use and depend upon. There are thousands of places that the public doesn't know about and aren't listed. Perhaps you know of some? If so send in their names and addresses and the kind of business, so that we might pass it along to the rest of your fellow Motorists. You will find it handy on your travels, whether at home or in some other state, and is up to date. Each year we are compiling new lists as some of these places move, or go out of business and new business places are started giving added employment to members of our race.",
                "readingModes": {
                  "text": true,
                  "image": true
                },
                "printType": "BOOK",
                "categories": [
                  "History"
                ],
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": true,
                "contentVersion": "preview-1.0.0",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=SKWqDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
                  "thumbnail": "http://books.google.com/books/content?id=SKWqDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                },
                "language": "en",
                "previewLink": "http://books.google.com/books?id=SKWqDwAAQBAJ&pg=PP1&dq=Green&hl=&cd=1&source=gbs_api",
                "infoLink": "https://play.google.com/store/books/details?id=SKWqDwAAQBAJ&source=gbs_api",
                "canonicalVolumeLink": "https://play.google.com/store/books/details?id=SKWqDwAAQBAJ"
              },
              "saleInfo": {
                "country": "US",
                "saleability": "FOR_SALE",
                "isEbook": true,
                "listPrice": {
                  "amount": 6.99,
                  "currencyCode": "USD"
                },
                "retailPrice": {
                  "amount": 6.99,
                  "currencyCode": "USD"
                },
                "buyLink": "https://play.google.com/store/books/details?id=SKWqDwAAQBAJ&rdid=book-SKWqDwAAQBAJ&rdot=1&source=gbs_api",
                "offers": [
                  {
                    "finskyOfferType": 1,
                    "listPrice": {
                      "amountInMicros": 6990000,
                      "currencyCode": "USD"
                    },
                    "retailPrice": {
                      "amountInMicros": 6990000,
                      "currencyCode": "USD"
                    },
                    "giftable": true
                  }
                ]
              },
              "accessInfo": {
                "country": "US",
                "viewability": "PARTIAL",
                "embeddable": true,
                "publicDomain": false,
                "textToSpeechPermission": "ALLOWED",
                "epub": {
                  "isAvailable": true,
                  "acsTokenLink": "http://books.google.com/books/download/The_Negro_Motorist_Green_Book-sample-epub.acsm?id=SKWqDwAAQBAJ&format=epub&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
                },
                "pdf": {
                  "isAvailable": true,
                  "acsTokenLink": "http://books.google.com/books/download/The_Negro_Motorist_Green_Book-sample-pdf.acsm?id=SKWqDwAAQBAJ&format=pdf&output=acs4_fulfillment_token&dl_type=sample&source=gbs_api"
                },
                "webReaderLink": "http://play.google.com/books/reader?id=SKWqDwAAQBAJ&hl=&source=gbs_api",
                "accessViewStatus": "SAMPLE",
                "quoteSharingAllowed": false
              },
              "searchInfo": {
                "textSnippet": "The idea of &quot;The Green Book&quot; is to give the Motorist and Tourist a Guide not only of the Hotels and Tourist Homes in all of the large cities, but other classifications that will be found useful wherever he may be."
              }
            },
            {
              "kind": "books#volume",
              "id": "ZqKZzgEACAAJ",
              "etag": "KODiWFfdkQE",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/ZqKZzgEACAAJ",
              "volumeInfo": {
                "title": "The Negro Motorist Green-Book",
                "subtitle": "1940 Facsimile Edition Paperback",
                "authors": [
                  "Victor Green"
                ],
                "publishedDate": "2021-08-04",
                "description": "In the segregated US of the mid-twentieth century, African-American travelers could have a hard time finding towns where they were legally allowed to stay at night and hotels, restaurants, and service stations willing to serve them. In 1936, Victor Hugo Green published the first annual volume of The Negro Motorist Green-Book, later renamed The Negro Travelers' Green Book. This facsimile of the 1940 edition brings you all the listings, articles, and advertisements aimed at the Black travelers trying to find their way across a country where they were so rarely welcome.Also available: The Negro Travelers' Green Book: 1954 Facsimile Edition",
                "industryIdentifiers": [
                  {
                    "type": "ISBN_10",
                    "identifier": "1639230343"
                  },
                  {
                    "type": "ISBN_13",
                    "identifier": "9781639230341"
                  }
                ],
                "readingModes": {
                  "text": false,
                  "image": false
                },
                "pageCount": 54,
                "printType": "BOOK",
                "maturityRating": "NOT_MATURE",
                "allowAnonLogging": false,
                "contentVersion": "preview-1.0.0",
                "panelizationSummary": {
                  "containsEpubBubbles": false,
                  "containsImageBubbles": false
                },
                "imageLinks": {
                  "smallThumbnail": "http://books.google.com/books/content?id=ZqKZzgEACAAJ&printsec=frontcover&img=1&zoom=5&sour[...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 4663,
          "items": [
            {
              "kind": "books#volume",
             [...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "Missing query.",
            "errors": [
              {
                "message": "Missing query.",
                "domain": "global",
                "reason": "queryRequired",
                "location": "q",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Mon, 12 Dec 2022 19:42:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=lksjdf%3Balkhjhg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 12 Dec 2022 19:44:09 GMT
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 4219,
          "items": [
            {
              "kind": "books#volume",
         [...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=wejhr98lkshefjwerdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 0
        }
  recorded_at: Mon, 12 Dec 2022 19:47:32 GMT
recorded_with: VCR 6.1.0
