---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=Rhythm%20of%20War%2Bintitle:Rhythm%20of%20War
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 253,
          "items": [
            {
              "kind": "books#volume",
              "id": "QCPBDwAAQBAJ",
              "etag": "ttA1/2XSPGg",
              "selfLink": "https://www.googleapis.com/books/v1/volumes/QCPBDwAAQBAJ",
              "volumeInfo": {
                "title": "Rhythm of War",
                "subtitle": "Book Four of The Stormlight Archive",
                "authors": [
                  "Brandon Sanderson"
                ],
                "publisher": "Tor Books",
                "publishedDate": "2020-11-17",
                "description": "An instant #1 New York Times Bestseller and a USA Today and Indie Bestseller! The Stormlight Archive saga continues in Rhythm of War, the eagerly awaited sequel to Brandon Sanderson's #1 New York Times bestselling Oathbringer, from an epic fantasy writer at the top of his game. After forming a coalition of human resistance against the enemy invasion, Dalinar Kholin and his Knights Radiant have spent a year fighting a protracted, brutal war. Neither side has gained an advantage, and the threat [...]
- request:
    method: get
    uri: https://www.googleapis.com/books/v1/volumes/?key=<key>&q=QCPBDwAAQBAJ%2Bintitle:QCPBDwAAQBAJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "books#volumes",
          "totalItems": 3,
          "items": [
            {
              "kind"[...]
